.number-measurements {
    height: 50px;
    width: 50px;
    background-color: gray;
    text-align: center;
}
html,body {
    height: 100%;
}

.numpad-bg {
    background-color: lightgray;
}

#app, #app>div{
    height: 100%;
}

.center-text {
    text-align: center;
    /* width: 20px; */
}

.numpad-button-border {
    border-style: solid;
    border-width: 2px;
    height: 40px;
    border-radius: 5px;
}

.numpad-button-border-active {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}

.display-measurement {
    height: 40px; 
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.display-measurement-black {
    height: 40px; 
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
}

.bg-black {
    background-color: black;
}